# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular data science languages 
- Common Data Science Libraries 
- Data Science tools

Some of the popular languages that Data Scientists use are:
    
    1. python 
    2. R
    3. SQL
    4. C++

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. TensorFlow 
4. SciPy
5. PyTorch

|Data Science Tools|
|------------------|
|SPSS|
|MATLAB|
|SAS|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author 
Dawn Sturgeon